.button {
  width: 173px;
  height: 56px;
  background-color: var(--red-500);
  border-radius: 200px;
  border: none;
  color: var(--white);
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
}

.button:hover {
  background-color: var(--red-600);
  cursor: pointer;
}
