@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --gray-100: #f7f7f7;
  --gray-200: #f2f4f7;
  --gray-300: #dadde1;
  --gray-500: #6c717b;
  --gray-600: #475467;
  --dark: #101828;
  --red-500: #e44848;
  --red-600: #d84343;
  --yellow-500: #ffc531;
  --white: #ffffff;
}

body {
  margin: 0 auto;
  width: 1440px;
  font-family: "Inter", sans-serif;
}
